@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins&display=swap');

:root {
  --primary: #fff;
  --secondary: #000;
  --tertiary: crimson;
  --dark: #1f2937;
  --dark-accent: #111827;
  --dark-lighter-accent: #3d4d63;
  --light-blue: #7da9e6;

  /* Button Color */
  --btn-pause: rgb(223, 223, 2);
  --btn-reset: rgb(126, 122, 122);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto mono', monospace;
}

body {
  background: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: var(--primary);
  border-radius: 16px;
  padding: 20px 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Time Display */

.timeDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto mono', monospace;
  font-size: 3.5rem;
  font-weight: 300;
  color: var(--light-blue);
  margin-bottom: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
}

.timeDisplay span {
  width: 110px;
  display: inline-block;
  font-size: 40px;
  text-align: center;
}

/* Buttons */

.controls {
  margin: 20px auto 20px auto;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: var(--dark);
  color: var(--primary);
  border: none;
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.startBtn {
  background-color: var(--light-blue);
}

.stopBtn {
  background-color: var(--tertiary);
}

.pauseBtn {
  background-color: var(--btn-pause);
}

.resetBtn {
  background-color: var(--btn-reset);
}

button:hover {
  filter: brightness(110%);
}

/* Detail list */

.details-heading {
  color: var(--dark-accent);
  font-size: 1.5rem;
  padding: 10px 0;
}

.details {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 200px;
  background-color: var(--primary);
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

li {
  padding: 1rem;
  border-bottom: 1px solid var(--light-blue);
}

li:last-child {
  border-bottom: none;
}

li span {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }

  .timeDisplay {
    width: 95%;
  }

  .controls {
    display: flex;
    gap: 5px;
  }
}

@media screen and (max-width: 480px) {
  .timeDisplay {
    font-size: 20px;
  }

  button {
    font-size: 0.75rem;
  }

  .details-heading {
    font-size: 1rem;
  }
}
