@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
  --primary: #fff;
  --secondary: #000;
  --tertiary: crimson;
  --dark: #1f2937;
  --dark-accent: #111827;
  --dark-lighter-accent: #3d4d63;
  --light-blue: #7da9e6;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Fira sans', sans-serif;
}

body {
  background: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: sans-serif;
}

.container {
  background-color: #a9c5d9;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.watch {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.time {
  font-size: 4rem;
  background-color: var(--dark-accent);
  color: var(--light-blue);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.time span {
  width: 110px;
  display: inline-block;
  text-align: center;
}

.controls {
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  background-color: var(--dark);
  color: var(--primary);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--dark-lighter-accent);
}

.details-heading {
  color: var(--dark-accent);
  font-size: 1.5rem;
  padding: 10px 0;
}

.details {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 200px;
  background-color: var(--primary);
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

li {
  padding: 1rem;
  border-bottom: 1px solid #e0e0e0;
}

li:last-child {
  border-bottom: none;
}

li span {
  font-weight: 700;
}
